{
  "openapi": "3.1.0",
  "info": {
    "title": "TOEIC PRO Core REST API Specification",
    "version": "10.0.0",
    "description": "Đặc tả kỹ thuật OpenAPI 3.1.0 cho Nền tảng Luyện thi TOEIC Thích ứng Cá nhân hóa TOEIC PRO v10.0.0. Bao gồm toàn bộ các endpoints phục vụ khảo thí IRT 2PL, phòng thi mô phỏng CBT chuẩn ETS, bản đồ hành trình Saga 2.5D, sổ tay ghi nhớ ngắt quãng SM-2 và đấu trường đối kháng thời gian thực. 100% tài nguyên và tính năng mở miễn phí, không rào cản thanh toán.",
    "contact": {
      "name": "TOEIC PRO Engineering Team",
      "email": "api-support@toeicpro.com",
      "url": "https://toeicpro.com"
    },
    "license": {
      "name": "Proprietary / Open Student Access",
      "url": "https://toeicpro.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.toeicpro.com/v1",
      "description": "Production Server (Global Edge CDN)"
    },
    {
      "url": "https://staging-api.toeicpro.com/v1",
      "description": "Staging Sandbox Server"
    },
    {
      "url": "http://localhost:4000/api/v1",
      "description": "Local Development Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/notebook/items/{id}": {
      "delete": {
        "summary": "DELETE /api/v1/notebook/items/{id} - Quản lý SM-2 Spaced Repetition Notebook",
        "tags": [
          "SM-2 Spaced Repetition Notebook"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh id"
          }
        ]
      }
    },
    "/admin/questions": {
      "get": {
        "summary": "GET /api/v1/admin/questions - Quản lý Administration & Question Bank",
        "tags": [
          "Administration & Question Bank"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/v1/admin/questions - Quản lý Administration & Question Bank",
        "tags": [
          "Administration & Question Bank"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/admin/system/stats": {
      "get": {
        "summary": "GET /api/v1/admin/system/stats - Quản lý Administration & Question Bank",
        "tags": [
          "Administration & Question Bank"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/users": {
      "get": {
        "summary": "GET /api/v1/admin/users - Quản lý Administration & Question Bank",
        "tags": [
          "Administration & Question Bank"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/heatmap": {
      "get": {
        "summary": "GET /api/v1/analytics/heatmap - Quản lý Analytics & Score Telemetry",
        "tags": [
          "Analytics & Score Telemetry"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/overview": {
      "get": {
        "summary": "GET /api/v1/analytics/overview - Quản lý Analytics & Score Telemetry",
        "tags": [
          "Analytics & Score Telemetry"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bộ lọc tham số timeframe"
          }
        ]
      }
    },
    "/auth/oauth/google/start": {
      "get": {
        "summary": "GET /api/v1/auth/oauth/google/start - Quản lý Authentication & Security",
        "tags": [
          "Authentication & Security"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/content/landing": {
      "get": {
        "summary": "GET /api/v1/content/landing - Quản lý Public Content & Landing",
        "tags": [
          "Public Content & Landing"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/diagnostic/results": {
      "get": {
        "summary": "GET /api/v1/diagnostic/results - Quản lý Adaptive Diagnostic (IRT 2PL)",
        "tags": [
          "Adaptive Diagnostic (IRT 2PL)"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/exams/attempts/{attemptId}/results": {
      "get": {
        "summary": "GET /api/v1/exams/attempts/{attemptId}/results - Quản lý CBT Examination Engine",
        "tags": [
          "CBT Examination Engine"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attemptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh attemptId"
          }
        ]
      }
    },
    "/exams/attempts/{attemptId}/reviews": {
      "get": {
        "summary": "GET /api/v1/exams/attempts/{attemptId}/reviews - Quản lý CBT Examination Engine",
        "tags": [
          "CBT Examination Engine"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attemptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh attemptId"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bộ lọc tham số filter"
          },
          {
            "name": "part",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bộ lọc tham số part"
          }
        ]
      }
    },
    "/gamification/leaderboard": {
      "get": {
        "summary": "GET /api/v1/gamification/leaderboard - Quản lý Gamification, Quests & Shop",
        "tags": [
          "Gamification, Quests & Shop"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/journeys/{journeyId}/daily-plans": {
      "get": {
        "summary": "GET /api/v1/journeys/{journeyId}/daily-plans - Quản lý Saga Map & Learning Journey",
        "tags": [
          "Saga Map & Learning Journey"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh journeyId"
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bộ lọc tham số day"
          }
        ]
      }
    },
    "/journeys/{journeyId}/exit-exam/certificates": {
      "get": {
        "summary": "GET /api/v1/journeys/{journeyId}/exit-exam/certificates - Quản lý Saga Map & Learning Journey",
        "tags": [
          "Saga Map & Learning Journey"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh journeyId"
          }
        ]
      }
    },
    "/journeys/{journeyId}/maps": {
      "get": {
        "summary": "GET /api/v1/journeys/{journeyId}/maps - Quản lý Saga Map & Learning Journey",
        "tags": [
          "Saga Map & Learning Journey"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh journeyId"
          }
        ]
      },
      "post": {
        "summary": "POST /api/v1/journeys/{journeyId}/maps - Quản lý Saga Map & Learning Journey",
        "tags": [
          "Saga Map & Learning Journey"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh journeyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/nodes/{id}/questions": {
      "get": {
        "summary": "GET /api/v1/nodes/{id}/questions - Quản lý Saga Map Stations (Nodes)",
        "tags": [
          "Saga Map Stations (Nodes)"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh id"
          }
        ]
      }
    },
    "/nodes/{id}/results": {
      "get": {
        "summary": "GET /api/v1/nodes/{id}/results - Quản lý Saga Map Stations (Nodes)",
        "tags": [
          "Saga Map Stations (Nodes)"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh id"
          }
        ]
      }
    },
    "/notebook/due": {
      "get": {
        "summary": "GET /api/v1/notebook/due - Quản lý SM-2 Spaced Repetition Notebook",
        "tags": [
          "SM-2 Spaced Repetition Notebook"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/notebook/items": {
      "get": {
        "summary": "GET /api/v1/notebook/items - Quản lý SM-2 Spaced Repetition Notebook",
        "tags": [
          "SM-2 Spaced Repetition Notebook"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/v1/notebook/items - Quản lý SM-2 Spaced Repetition Notebook",
        "tags": [
          "SM-2 Spaced Repetition Notebook"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/practice/parts/overview": {
      "get": {
        "summary": "GET /api/v1/practice/parts/overview - Quản lý Micro-drills & Skill Practice",
        "tags": [
          "Micro-drills & Skill Practice"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/shop/items": {
      "get": {
        "summary": "GET /api/v1/shop/items - Quản lý Gamification, Quests & Shop",
        "tags": [
          "Gamification, Quests & Shop"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/skills/{skillId}/drills": {
      "get": {
        "summary": "GET /api/v1/skills/{skillId}/drills - Quản lý Micro-drills & Skill Practice",
        "tags": [
          "Micro-drills & Skill Practice"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "skillId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh skillId"
          }
        ]
      }
    },
    "/users/me/dashboard": {
      "get": {
        "summary": "GET /api/v1/users/me/dashboard - Quản lý User Profile & Journey Settings",
        "tags": [
          "User Profile & Journey Settings"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/profile": {
      "get": {
        "summary": "GET /api/v1/users/me/profile - Quản lý User Profile & Journey Settings",
        "tags": [
          "User Profile & Journey Settings"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/v1/users/me/profile - Quản lý User Profile & Journey Settings",
        "tags": [
          "User Profile & Journey Settings"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/users/me/settings": {
      "get": {
        "summary": "GET /api/v1/users/me/settings - Quản lý User Profile & Journey Settings",
        "tags": [
          "User Profile & Journey Settings"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/v1/users/me/settings - Quản lý User Profile & Journey Settings",
        "tags": [
          "User Profile & Journey Settings"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/admin/users/{id}/status": {
      "patch": {
        "summary": "PATCH /api/v1/admin/users/{id}/status - Quản lý Administration & Question Bank",
        "tags": [
          "Administration & Question Bank"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Định danh id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/users/me/journey/declared-scores": {
      "patch": {
        "summary": "PATCH /api/v1/users/me/journey/declared-scores - Quản lý User Profile & Journey Settings",
        "tags": [
          "User Profile & Journey Settings"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/users/me/journey/plans": {
      "patch": {
        "summary": "PATCH /api/v1/users/me/journey/plans - Quản lý User Profile & Journey Settings",
        "tags": [
          "User Profile & Journey Settings"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/users/me/journey/targets": {
      "patch": {
        "summary": "PATCH /api/v1/users/me/journey/targets - Quản lý User Profile & Journey Settings",
        "tags": [
          "User Profile & Journey Settings"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/admin/exams/imports": {
      "post": {
        "summary": "POST /api/v1/admin/exams/imports - Quản lý CBT Examination Engine",
        "tags": [
          "CBT Examination Engine"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/arena/matches": {
      "post": {
        "summary": "POST /api/v1/arena/matches - Quản lý Real-time 1v1 Arena",
        "tags": [
          "Real-time 1v1 Arena"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "POST /api/v1/auth/login - Quản lý Authentication & Security",
        "tags": [
          "Authentication & Security"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "POST /api/v1/auth/logout - Quản lý Authentication & Security",
        "tags": [
          "Authentication & Security"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/auth/otp": {
      "post": {
        "summary": "POST /api/v1/auth/otp - Quản lý Authentication & Security",
        "tags": [
          "Authentication & Security"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/auth/otp/verifications": {
      "post": {
        "summary": "POST /api/v1/auth/otp/verifications - Quản lý Authentication & Security",
        "tags": [
          "Authentication & Security"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/auth/password/reset-requests": {
      "post": {
        "summary": "POST /api/v1/auth/password/reset-requests - Quản lý Authentication & Security",
        "tags": [
          "Authentication & Security"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "summary": "POST /api/v1/auth/refresh - Quản lý Authentication & Security",
        "tags": [
          "Authentication & Security"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Xung đột trạng thái hoặc chuỗi tuần tự cũ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Vượt quá giới hạn tần suất yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Payload dữ liệu gửi lên server"
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "summary": "POST /api/v1/auth/register - Quản lý Authentication & Security",
        "tags": [
          "Authentication & Security"
        ],
        "responses": {
          "200": {
            "description": "Thao tác thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Dữ liệu đầu vào không hợp lệ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Chưa xác thực hoặc token hết hạn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Không có quyền truy cập hoặc tài nguyên bị khóa",
            "content": {
              "application/json": {
                "schema": {
[...]
